@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background: #000;
    color: #fff;
    font-family: 'VT323', monospace;
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#terminal {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    padding: 12px;
    box-sizing: border-box;
}

#output {
    flex: 1;
    white-space: pre-wrap;
    margin: 0;
    overflow-y: auto;

    text-shadow:
        0 0 2px rgba(255,255,255,.7),
        0 0 8px rgba(255,255,255,.2);
}

#input-line {
    display: none;
    align-items: center;
    margin-top: 8px;
}

#prompt {
    margin-right: 8px;
}

#command {
    background: transparent;
    border: none;
    outline: none;

    color: #fff;
    font-family: inherit;
    font-size: inherit;

    flex: 1;
    caret-color: #fff;
}

/* CRT overlay */
#crt {
    position: fixed;
    inset: 0;
    pointer-events: none;

    background:
        repeating-linear-gradient(
            0deg,
            rgba(255,255,255,.015) 0px,
            rgba(255,255,255,.015) 1px,
            transparent 2px,
            transparent 4px
        );
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;

    background:
        radial-gradient(
            ellipse at center,
            transparent 50%,
            rgba(0,0,0,.45) 100%
        );
}
